<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>movie_filter</mat-icon> Filmax
        </a>
    </span>
    <div>
        <a routerLink="generos" mat-flat-button color ="primary">Generos</a>
    </div>
    <div>
        <a routerLink="actores" mat-flat-button color ="primary">Actores</a>
    </div>
    <div>
        <a routerLink="cines" mat-flat-button color ="primary">Cines</a>
    </div>
    <div>
        <a routerLink="peliculas/crear" mat-flat-button color ="primary">Crear película</a>
    </div>
</mat-toolbar>
