<!-- <input type="file" class="hidden" #cargador>

<button (click)="cargador.click()">Cargar archivos</button> -->

<app-menu></app-menu>

<div class="contenedor">
  <!-- <h1>Peliculas en cine</h1>
  <app-listado-peliculas
    [peliculas]="listadoPeliculasCine"
  ></app-listado-peliculas>

  <h1>Futuros estrenos</h1>
  <app-listado-peliculas
    [peliculas]="listadoPeliculasEstreno"
  ></app-listado-peliculas> -->

  <app-rating></app-rating> <!-- Se le puede pasar opcionalmente los parámetros al componente: maxRating o selectedRating -->

    

</div>
<!-- <p (click)="manejarClick()">Test funcion {{manejarClick()}}</p> -->
