<app-listado-generico [listado]="peliculas">
  <!-- Renderiza todo ng-content del componente padre que se llame contenido -->
  <ng-container contenido>
    <div class="peliculas-contenedor">
      <div
        *ngFor="let pelicula of peliculas; let indice = index"
        class="pelicula-contenedor"
      >
        <a>
          <img [src]="pelicula.poster" alt="Poster">
        </a>
        <p>
          <a>{{pelicula.titulo}}</a>
        </p>
        <div>
          <a href="" mat-flat-button color ="primary">
            Editar
          </a>
          <button mat-flat-button color ="warn">
            Borrar
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</app-listado-generico>
